body{
    background-color:#333333;
    width: 100%;
    height:100%
}
@media only screen and (min-width:720px){
    #CenterBox{
        width:80%;
        height:80%;
        position:absolute;
        left:10%;
        top:10%;
        display:flex;
    }
    #CenterBox > a > p{
        font-size:200%;
        text-align: center;
        position:relative;
        display:flex;
        top:-55%;
        width:100%;
        text-align:center;
    }
    #CenterBox > a{
        width:20%;
        position:relative;
        height:100%;
        text-decoration: none;
        transform: skewX(-15deg);
        left:10%;
        transition:0.5s;
        border:solid green 17%;
    }
    #CenterBox > a:hover{
        transition:0.5s;
        width:25%;
        position:relative;
        height:110%;
        text-decoration: none;
        top: -4%;
    }
    #CenterBox > a > img{
        height:100%;
        width:100%;
        position:relative;
        filter:blur(20px);
    }
    #CenterBox > a > img:hover{
        filter:none;
    }
    p{
        text-align:center;
        Font-size:200%;
        color:white;
        position:relative;
        width:100%;
    }
    h1{
        text-align:center;
        font-size:200%;
        color:white;
    }
    .OwnerPhoto{
        width:40%;
        border-radius: 50%;
        position:absolute;
        right:3%;
    }
    .OwnerInfo{
        width:45%;
        left:4%;
    }
    .MainInfo{
        border: #1532d4 solid 3px;
        height:75%;
    }
}
@media only screen and (max-width:719px){
    body{
        background-color:purple;
        display:inline-block;
    }
}